<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kemal TODO App</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/dist/build.min.css">
  <!-- <script src="https://fb.me/react-with-addons-0.14.7.js"></script>
  <script src="https://fb.me/react-dom-0.14.7.js"></script> -->
</head>
<body>
  <div id="wrap">
    <div class="content">
      <%= content %>
    </div>
  </div>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-with-addons.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script> -->

  <!-- <script src="/js/dist/build.min.js"></script> -->
  <!-- <script src="/js/dist/build.js"></script> -->
  <script src="/js/dist/app.min.js"></script>
</body>
</html>
