* {
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Homenaje', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: auto;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  border-radius: 0;
}

.app-name {
  font-weight: 500;
}

.main-content {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 2%;
}

.main-title { text-align: center; }

.list-group {
  margin-top: 3%;
}

.panels-wrapper { margin-top: 4%; }

.panel.note-panel {
  border: 1px solid transparent;
  border-radius: 5px;
  border-color: rgba(221, 221, 221, 0.3);
  margin-bottom: 20px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

.panel-default>.panel-heading {
  background: none;
  border-color: rgba(221,221,221,0.7);
}

.panel {
  margin: 0;
  padding: 0;
  border-style: none;
}

.panel-heading,
.panel-body {
  border-radius: 0;
  text-align: justify;
}

.buttons-block {
  margin-top: 8px;
}

.app-button {
  margin-right: 5px;
}

.timestamps {
  padding: 8px 0;
  font-weight: 500 !important;
}

textarea {
  resize: vertical;
}

.note-panel .custom-typo {
  font-size: 16px;
  padding: 4px 0
}

.note-panel .custom-typo-title span.note-title-text {
  font-size: 19px;
}

.note-panel .panel-heading{
  min-height: 42px;
}

.updated-text{
  color: rgba(119, 119, 119, 0.66);
  font-size: 12px;
}

span.closing-icon {
  font-size: 15px;
  color: rgba(172, 172, 172, 0.67);
  padding-top: 3px;
  cursor: pointer;
}

span.closing-icon:hover {
  font-size: 20px;
  margin-top: -3px;
  color: rgba(217, 83, 79, 0.79);
}

.error {
  color: #ff6060;
  font-weight: 400;
}
